*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(245, 235, 236);
}

.perfil {

  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.perfil h1 {
  margin: 0;
  color: rgb(160, 8, 8);
}

hr {
  border: none;
  height: 2px;
  background-color: rgb(160, 8, 8);
  margin: 
}


.foto {
  height: 40vh;
  border-radius: 10px; 
}



